body {
    font-family: 'News Cycle';
}

header {
    padding: 20px 50px;
    font-family: 'Contrail One';
}

main {
    padding: 5px 10px;
}

@font-face {
    font-family: 'News Cycle';
    src: url('../fonts/mod3_news_cycle.ttf') format('truetype');
}

@font-face {
    font-family: 'Contrail One';
    src: url('../fonts/mod3_contrail_one.ttf') format('truetype');
}

@Media not print {
    article h3, h4 {
        color: #8C1018;
    }

    article a {
        color: #314052;
    }

    body {
        color: #635959;
    }

    header {
        background-color: #242323;
        color: #EFEFEF;
    }
}

header h1 {
    font-size: 4em;
}

main figure > figcaption {
    font-size: 0.75em;
    font-style: italic;
}

main figure > figcaption::before {
    content: 'Pictured above: ';
    font-weight: bold;
}

main > h3 {
    font-size: 2em;
}

article {
    margin: 5px 0px;
    padding: 5px 10px;
    box-shadow: -1px -1px 6px #888888;
}

@media print {
    header {
        padding: 0px;
    }
    article {
        box-shadow: none;
    }
    header h1 {
        font-size: 2em;
    }
    header h2 {
        display: none;
    }
}

article > time {
    float: right;
    font-size: 0.75em;
    font-weight: lighter;
}

section#carousel > figure > img {
    display: None;
    margin: 0px auto;
}

section#carousel > figure > figcaption {
    display: None;
}

section#carousel > figure.visible > img {
    display: block;
    position: relative;
    overflow: hidden;
}

section#carousel > figure.visible > figcaption {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}